<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Novice Helper View"
            id="NoviceHelperView">
      </category>
      <view
            name="Novice Helper View"
            icon="icons/sample.gif"
            class="ca.mcgill.cs.NoviceHelper.views.NoviceHelperView"
            id="ca.mcgill.cs.NoviceHelper.views.NoviceHelperView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="ca.mcgill.cs.NoviceHelper.views.NoviceHelperView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
